body{

    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;

}

.Titles_and_subtitle{

    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #4f9;
   
}

.box{

    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 45px #fff;
    margin-top: 51px;
    margin-bottom: 51px;
}


.box{

    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 1px solid #4f9;
    box-shadow: 0 0 15px #4f9;
    background-color: transparent;
    border-radius: 8px;
    color: #4f9;

}

.Text{

    text-align: start;
    letter-spacing: 1.5px;
    border: 2px solid #4f9;
    padding: 10px;
}

